page-home2 {

 .row{
 	margin:0px;
 	padding:0px;

 }
  .col{
 	margin:0px;
 	padding:0px;
 	
 }

  .container{
 	margin:0px;
 	padding:0px;
 	
 }

  ion-icon {
        font-size: 1px; //Preferred size here
    }
}
