<ion-header>
  <ion-navbar color="rojoBotonLibreta">
    <button [hidden]="flagDelete" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
      
    
    <ion-title *ngIf="!flagDelete">
      Libretas Locales
    </ion-title>
    <ion-title *ngIf="flagDelete">
      Eliminar
    </ion-title>
    <ion-buttons left>
      <button [hidden]="!flagDelete" ion-button icon-only (click)="closeDelete()">
            <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button [hidden]="!flagDelete" ion-button icon-only (click)="deleteAllSelected()">
        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
      </button>
      <button [hidden]="flagDelete" ion-button icon-only (click)="selectItems()">
        <ion-icon ios="ios-checkbox" md="md-checkbox"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background: #f4f4f4"  >



    <div class="row align-items-center" *ngFor="let item of formularios;let i = index">
      <div class="col-1" margin-left text-center col-1 *ngIf="flagDelete" >
        <ion-checkbox (ionChange)="selectChecked(i)"></ion-checkbox>
      </div>
      <div class="col" >
        <ion-card >

          <ion-item  text-wrap  data-toggle="collapse" [attr.href]="'#collapse'+i"  aria-expanded="false">
            <ion-avatar item-start>
              <img src="assets/imgs/libreta2.png">
            </ion-avatar>
            <h2   >{{item.nombre}}</h2>
            <p  style="color: #d77165" >{{item.plantilla}}</p>
             <ion-note *ngIf="i==1 || i==4 || i==5" item-end padding-right color="primary" >Enviada</ion-note>
             <ion-note *ngIf="!(i==1 || i==4 || i==5)" item-end padding-right color="primary" ></ion-note>
            <ion-icon item-end ios="ios-more" md="md-more"></ion-icon>
            
          </ion-item>
          <div class="collapse" id="collapse{{i}}">
            <ion-card-content>
              <ion-label  text-wrap>{{item.descripcion}}</ion-label>
            </ion-card-content>
            <div class="container">
                <div class="row">
                  <div class="col-6">
                    <button [disabled]="flagDelete" color="rojoBotonLibreta"  ion-button icon-start clear small (click)="modalEdicionFormulario(i)">
                      <ion-icon ios="ios-create" md="md-create"></ion-icon>
                      <div>Edicion General</div>
                    </button>
                  </div>
                  <div class="col-6">
                    <button [disabled]="flagDelete" color="rojoBotonLibreta" ion-button icon-start clear small>
                      <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                      <div>Eliminar</div>
                    </button>
                  </div>

                </div>
            </div>
          </div>
          

        </ion-card>
      </div>
    </div>
  

    <ion-fab [hidden]="flagDelete" bottom right>
     <button ion-fab color="navbar3" (click)="agregarFormulario()"><ion-icon name="add"></ion-icon></button>
   </ion-fab>
</ion-content>
