<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Mis Libretas
        </ion-title>
        <ion-buttons end>
            <button *ngIf="!enviandoLibretas" [disabled]="libretasPendientes.length==0" ion-button icon-end (click)="clickEnviarLibretas()">
                Enviar
                <ion-icon name="ios-send"></ion-icon>
            </button>
            <button [disabled]="true" *ngIf="enviandoLibretas" ion-button icon-end >
                Enviando
                <ion-spinner item-end name="dots"  color="light"></ion-spinner>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div *ngIf="comprobandoPendientes">
        <ion-spinner item-end name="bubbles" color="menuItemNote"></ion-spinner>
    </div>
    <div *ngIf="!comprobandoPendientes">
        <div *ngIf="libretasPendientes.length==0" text-center>
            <h2>No hay libretas pendientes</h2>
        </div>
        <div *ngIf="libretasPendientes.length!=0">
            <ion-card margin-bottom  *ngFor="let item of libretasPendientes;let i = index"  >
                <ion-item  text-wrap  data-toggle="collapse" [attr.href]="'#collapse'+i"  aria-expanded="false">
                    <ion-avatar item-start>
                        <img src="assets/imgs/libreta4.png">
                    </ion-avatar>
                    <h2>{{item[item.length-1].fechaLibreta}}</h2>
                    <p style="color: #488aff" > {{item[item.length-1].codigoPlantilla}}</p>
                    <ion-icon *ngIf="item[item.length-1].errores>0 || item[item.length-1].vacios>0" item-end  color="navbar3" small  name="warning" margin-right></ion-icon>
                    <ion-icon item-end ios="ios-more" md="md-more"></ion-icon>
                </ion-item>
                <div  class="collapse" id="collapse{{i}}">
                    <div class="container">
                        <div padding-left padding-right class="row">
                            <div class="col-6">
                                <ion-label no-margin margin-bottom  text-wrap><strong class="strongLabel">Creacion:</strong> {{item[item.length-1].fechaCreacion | date:'yyyy/MM/dd'}} </ion-label>
                                <ion-label no-margin margin-bottom  text-wrap><strong class="strongLabel">Guardado:</strong> {{item[item.length-1].fechaGuardado |  date:'yyyy/MM/dd'}}</ion-label>
                                <ion-label no-margin margin-bottom text-wrap [class.strongLabelError]="item[item.length-1].vacios>0"><strong [class.strongLabel]="!item[item.length-1].vacios>0" >Vacios: </strong> {{item[item.length-1].vacios }}</ion-label>
                            </div>
                            <div class="col-6">
                                <ion-label no-margin margin-bottom  text-wrap><strong class="strongLabel">Plantilla:</strong> {{item[item.length-1].codigoPlantilla}}</ion-label>
                                <ion-label no-margin margin-bottom  text-wrap><strong  class="strongLabel" >Version:</strong> {{item[item.length-1].version}}</ion-label>
                                <ion-label no-margin margin-bottom text-wrap [class.strongLabelError]="item[item.length-1].errores>0"><strong [class.strongLabel]="!item[item.length-1].errores>0">Errores:</strong> {{item[item.length-1].errores }}</ion-label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button [disabled]="enviandoLibretas" ion-button block icon-start clear small (click)="clickEditarLibreta(item[item.length-1].fechaLibreta)">
                                    <ion-icon name="create"></ion-icon>
                                    <div>Editar</div>
                                </button>
                            </div>
                            <div class="col-6">
                                <button [disabled]="enviandoLibretas" ion-button block icon-start clear small (click)="clickEliminarLibreta(item[item.length-1].fechaLibreta,i)">
                                    <ion-icon name="trash"></ion-icon>
                                    <div>Eliminar</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-card>
        </div>
    </div>
</ion-content>
