<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{libretaTemporal.fechaLibreta}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="libretaTemporal.data[indexHorario].tipo=='horario'" style="text-align: center; background: rgb(29, 229, 33)" class="row">
    	<div class="col">
    	<span><i class="far fa-clock"></i></span>
    	<span> {{libretaTemporal.data[indexHorario].label}} </span>
    	</div>
    </div>
    <div *ngIf="libretaTemporal.data[indexHorario].tipo=='diario'" style="text-align: center; background: #1d92f2" class="row">
      <div class="col">
      <span> {{libretaTemporal.data[indexHorario].label}} </span>
      </div>
    </div>


    <div *ngFor="let item of data;let indexCategoria = index">
        <div *ngIf="item.type=='collapseList'">
            <button text-wrap ion-item color="secondary" data-toggle="collapse" [attr.href]="'#collapseExample'+indexCategoria"  aria-expanded="false" (click)="clickCollapseButton(indexCategoria,'collapseExample'+indexCategoria,$event)">
              <ion-label >{{item.label}}</ion-label>
              <ion-icon *ngIf="item.initialShow" item-end name="arrow-dropdown" ></ion-icon>
              <ion-icon *ngIf="!item.initialShow" item-end name="arrow-dropright" ></ion-icon>
            </button>
            <div *ngIf="item.initialShow" class="collapse show" id="collapseExample{{indexCategoria}}">
            <ion-list no-lines>
              <button  *ngFor="let item2 of item.children;let indexSubCategoria = index"  ion-item  (click)="clickNextPage(indexCategoria,indexSubCategoria)">
                  <ion-icon name="{{item2.icon}}" item-start ></ion-icon>
                  <ion-label>{{item2.label}}</ion-label>
              </button>
            </ion-list>
            </div>
            <div *ngIf="!item.initialShow" class="collapse" id="collapseExample{{indexCategoria}}">
            <ion-list  no-lines>
              <button  *ngFor="let item2 of item.children;let indexSubCategoria = index"  ion-item  (click)="clickNextPage(indexCategoria,indexSubCategoria)">
                  <ion-icon name="{{item2.icon}}" item-start ></ion-icon>
                  <ion-label>{{item2.label}}</ion-label>
              </button>
            </ion-list>
            </div>

        </div>


        <div *ngIf="item.type=='buttonList'">
            <button ion-item  (click)="clickNextPage(null,indexCategoria)">
              <ion-icon name="{{item.icon}}" item-start ></ion-icon>
              <ion-label >{{item.label}}</ion-label>
            </button>
        </div>

        <div text-center *ngIf="item.type=='observation'">
          <h4>{{item.label}}</h4>
            <ion-item>
            <ion-textarea style="border: 1px solid #6b7e9b" placeholder="" [(ngModel)]="item.value"></ion-textarea>
          </ion-item>

        </div>



    </div>

</ion-content>
