<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Principal
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding >
    <div *ngIf="permisoGeolocalizacion=='DENIED_ALWAYS'">
        <div margin-bottom  text-center >
            <img class="noLocationIcon" src="./assets/imgs/location2.png">
        </div>
        <p >Has negado de manera permanente el permiso para que la aplicacion pueda usar tu ubicacion. Para el correcto funcionamiento otorga este permiso desde la configuracion de Android siguiendo estos pasos:</p>
        <ul>
            <li>Accede a la configuracion de la aplicacion pulsando el boton "Ir a Configuracion"</li>
            <li>Pulsa la opcion relacionada a los accesos o permisos</li>
            <li>Habilita opcion que conceda el permiso a la ubicacion</li>
            <li>Regresa a la aplicacion</li>
        </ul>
        <button ion-button block (click)="switchToSettings()">Ir a Configuracion</button>
    </div>
    <div *ngIf="permisoGeolocalizacion=='DENIED'">
        <div margin-bottom text-center>
            <img class="noLocationIcon" src="./assets/imgs/location2.png">
        </div>
        <p >Has negado el permiso para que la aplicacion pueda usar tu ubicacion. Para el correcto funcionamiento otorga este permiso</p>
        <button ion-button block (click)="requestLocationAuthorization()">Conceder Permiso</button>
        <ion-item></ion-item>
    </div>
    <div text-center *ngIf="permisoGeolocalizacion=='GRANTED'" >
        <input style="visibility:hidden;z-index: -1;position: absolute;left: 0px;top: 0px;width: 0px;height: 0px;border: 0px" no-margin no-padding type="date" name="date" [(ngModel)]="fechaLibreta" id="inputDate" (change)="changeDate(fechaLibreta)" [min]="fechaMinima" [max]="fechaMaxima">
        <div padding>
            <img id="imagen" [class.reducirImagen]="fechaLibreta" src="./assets/imgs/libreta4.png">
        </div>
        <div padding >
            <!--<p><em>Selecciona la fecha de la libreta a crear o editar:</em></p>-->
            <ion-item *ngIf="false" color="verdeBotonLibreta" style="border-radius: 5px">
                <ion-label color="light"> Fecha :</ion-label>
                <ion-datetime cancelText="cancelar" doneText="seleccionar"  displayFormat="DD/MMMM/YYYY" [min]="fechaMinima" [max]="fechaMaxima" monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre" [(ngModel)]="fechaLibreta" (ionChange)="changeDate(fechaLibreta)" ></ion-datetime>
                <ion-icon item-end name="calendar"></ion-icon>
            </ion-item>
            <button *ngIf="true" ion-item color="verdeBotonLibreta" (click)="clickDatePicker()" style="border-radius: 4px">
                <ion-label item-start>Fecha:</ion-label>
                <ion-label item-start>{{fechaLibreta}}</ion-label>
                <ion-icon item-end name="ios-calendar"></ion-icon>
            </button>
            <ion-item *ngIf="libreta" margin-top color="verdeBotonLibreta" style="transition: 1s" >
                <ion-label color="light">Seccion :</ion-label>
                <ion-select  placeholder="Selecciona" [compareWith]="compareFn"  [(ngModel)]="seccionSelected">
                    <ion-option *ngFor="let item of libreta.data" [value]="item">{{item.label}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-list  *ngIf="libreta" margin-top  radio-group [(ngModel)]="ubicacionSelected">
                <ion-item color="rojoBotonLibreta"  [class.emptyGPS]="ubicacionSelected!=null">
                    <ion-label>Ubicacion</ion-label>
                    <ion-icon item-end name="ios-pin-outline"></ion-icon>
                </ion-item>
                <ion-item color="light">
                    <ion-label>Usar GPS</ion-label>
                    <ion-radio (ionSelect)="changeUbicacion()" [value]="true" ></ion-radio>
                </ion-item>
                <ion-item  color="light">
                    <ion-label>No Usar GPS</ion-label>
                    <ion-radio (ionSelect)="changeUbicacion()" [value]="false"></ion-radio>
                </ion-item>
            </ion-list>
        </div>
        <button *ngIf="creacionLibreta==false && edicionLibreta==false" [disabled]="creacionLibreta==false && edicionLibreta==false" ion-button block color="navbar">
            {{messageButton}}
        </button>
        <button *ngIf="creacionLibreta" ion-button block color="navbar" (click)="crearLibreta()"> {{messageButton}} </button>
        <button *ngIf="edicionLibreta" ion-button block color="navbar" (click)="crearLibreta()"> {{messageButton}} </button>
        <ion-spinner item-start name="dots" *ngIf="comprobandoLibreta" color="navbar"></ion-spinner>
        <!--
        <input type="date" class="form-control" name="">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="far fa-calendar-alt"></i></span>
          </div>
          <input type="time" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="date2">
        </div>
        -->
        <!--
          <button ion-button (click)="clickGrid()">ir a Grid</button>
        -->
    </div>
</ion-content>
