page-homeCVR {
	img {
		max-height:150px;
		max-width:150px;
		transition: 0.5s;
	}
	.emptyGPS {
		background:#2b687f;
	}
	.noLocationIcon {
		min-height:200px;
		min-width:200px;
		opacity:1;
	}
	.reducirImagen {
		max-height:75px;
	}
}
