<ion-header>
  <ion-navbar color="navbar">
    <ion-title>
      {{ template.name }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <div *ngFor="let item of selectedTemplate.children;let indexCategoria = index">
        <div *ngIf="item.type=='collapseList'">
            <button text-wrap ion-item color="secondary" data-toggle="collapse" [attr.href]="'#collapseExample'+indexCategoria"  aria-expanded="false" (click)="clickCollapseButton(indexCategoria,'collapseExample'+indexCategoria,$event)">
                <ion-label>{{item.label}}</ion-label>
                <ion-icon *ngIf="item.initialShow" item-end name="arrow-dropdown"></ion-icon>
                <ion-icon *ngIf="!item.initialShow" item-end name="arrow-dropright"></ion-icon>
            </button>
            <div *ngIf="item.initialShow" class="collapse show" id="collapseExample{{indexCategoria}}">
                <ion-list no-lines>
                    <button *ngFor="let item2 of item.children;let indexSubCategoria = index" ion-item (click)="clickNextPage(item2,indexCategoria,indexSubCategoria)">
                        <ion-icon name="{{item2.icon}}" item-start></ion-icon>
                        <ion-label>{{item2.label}}</ion-label>
                    </button>
                </ion-list>
            </div>
            <div *ngIf="!item.initialShow" class="collapse" id="collapseExample{{indexCategoria}}">
                <ion-list no-lines>
                    <button *ngFor="let item2 of item.children;let indexSubCategoria = index" ion-item (click)="clickNextPage(item2,indexCategoria,indexSubCategoria)">
                        <ion-icon name="{{item2.icon}}" item-start></ion-icon>
                        <ion-label>{{item2.label}}</ion-label>
                    </button>
                </ion-list>
            </div>
        </div>

        <ion-list no-lines *ngIf="item.type=='button'">
            <button *ngFor="let item2 of item.children;let indexSubCategoria = index" ion-item (click)="clickNextPage(item2,0,indexSubCategoria)">
                <ion-label>{{item.label}}</ion-label>
            </button>
        </ion-list>

        <ion-list radio-group *ngIf="item.type=='radio_input'" [(ngModel)]="item.value">
            <ion-list-header>
                <ion-label>{{item.label}}</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let opt of item.children;">
                <ion-input *ngIf="opt.label=='OTROS'" placeholder={{item.placeholder}} type="text" [(ngModel)]="opt.value" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                <ion-label *ngIf="opt.label!='OTROS'">{{opt.label}}</ion-label>
                <ion-radio *ngIf="opt.label!='OTROS'" value={{opt.label}} checked=false (click)="clickFunction($event,item.keyupFunction)"></ion-radio>
            </ion-item>
        </ion-list>

        <ion-list radio-group *ngIf="item.type=='radio'" [(ngModel)]="item.value">
            <ion-list-header>
                <ion-label>{{item.label}}</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let opt of item.children;">
                <ion-label>{{opt.label}}</ion-label>
                <ion-radio value={{opt.label}} checked=false (click)="clickFunction($event,item.keyupFunction)"></ion-radio>
            </ion-item>
        </ion-list>

        <ion-list radio-group *ngIf="item.type=='radio_title'" [(ngModel)]="item.value">
            <ion-list-header>
                <ion-label>{{item.label}}</ion-label>
            </ion-list-header>
            <ion-list *ngFor="let opt of item.children;">
                <ion-list-header>
                    <ion-label>{{opt.label}}</ion-label>
                </ion-list-header>
                <ion-item *ngFor="let op of opt.children;">
                    <ion-input *ngIf="op.label=='OTROS'" placeholder={{opt.placeholder}} type="text" [(ngModel)]="opt.value" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                    <ion-label *ngIf="op.label!='OTROS'">{{op.label}}</ion-label>
                    <ion-radio *ngIf="op.label!='OTROS'" value={{op.label}} checked=false (click)="clickFunction($event,item.keyupFunction)"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-list>

        <ion-item *ngIf="item.type=='date'">
            <ion-label>{{item.label}}</ion-label>
            <ion-datetime cancelText="CANCELAR" doneText="SELECCIONAR" mode="md" displayFormat="DD/MM/YYYY" [(ngModel)]="item.value"></ion-datetime>
            <ion-icon item-end name="calendar"></ion-icon>
        </ion-item>

        <ion-item *ngIf="item.type=='input_number'">
            <ion-label stacked>{{item.label}}</ion-label>
            <ion-input type="number" [(ngModel)]="item.value" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
        </ion-item>

        <ion-item *ngIf="item.type=='input_text'">
            <ion-label stacked>{{item.label}}</ion-label>
            <ion-input type="text" [(ngModel)]="item.value" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
        </ion-item>

        <ion-list *ngIf="item.type=='checkbox_solo'">
            <ion-item>
                <ion-label>{{item.label}}</ion-label>
            </ion-item>
            <ion-list>
                <ion-item *ngFor="let opt of item.children;">
                    <ion-label>{{opt.label}}</ion-label>
                    <ion-checkbox [(ngModel)]="opt.value" item-right checked="opt.checked" (click)="clickFunction($event,item.keyupFunction)"></ion-checkbox>
                </ion-item>
            </ion-list>
        </ion-list>

        <ion-grid *ngIf="item.type=='checkbox_input'">
            <ion-label>{{item.label}}</ion-label>
            <ion-row *ngFor="let opt of item.children;" style="margin-left:0;margin-right:0" align-items-center>
                <ion-col align-self-center>
                    <ion-list>
                        <ion-item>
                            <ion-input *ngIf="opt.label=='OTROS'" placeholder={{item.placeholder_otros}} type="text" [(ngModel)]="opt.value" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                            <ion-label *ngIf="opt.label!='OTROS'">{{opt.label}}</ion-label>
                            <ion-checkbox *ngIf="opt.label!='OTROS'" [(ngModel)]="opt.value" item-right checked="opt.checked" (click)="clickFunction($event,item.keyupFunction)"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col *ngIf="item.textarea==true" align-self-center>
                    <ion-textarea placeholder={{item.placeholder}} type="text" [(ngModel)]="opt.text" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-textarea>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-list *ngIf="item.type=='checkbox_group'">
            <ion-item>
                <ion-label>{{item.label}}</ion-label>
            </ion-item>
            <ion-list *ngFor="let sub_item of item.children;">
                <ion-item>
                    <ion-label>{{sub_item.label}}</ion-label>
                </ion-item>
                <ion-item *ngFor="let opt of sub_item.children;">
                    <ion-label>{{opt.label}}</ion-label>
                    <ion-checkbox [(ngModel)]="opt.value" item-right checked="opt.checked" (click)="clickFunction($event,item.keyupFunction)"></ion-checkbox>
                </ion-item>
            </ion-list>
        </ion-list>

        <ion-item *ngIf="item.type=='textarea'">
            <ion-label>{{item.label}}</ion-label>
            <ion-textarea stacked placeholder={{item.placeholder}} (keyup)="keyupFunction($event,item.keyupFunction)"></ion-textarea>
        </ion-item>

        <ion-grid *ngIf="item.type=='info_table'">
            <ion-label>{{item.label}}</ion-label>
            <ion-row *ngFor="let register of item.rows;" style="margin-left:0;margin-right:0" align-items-center>
                <ion-col col-2 align-self-center>{{register.column1}}</ion-col>
                <ion-col col-10 align-self-center>{{register.column2}}</ion-col>
            </ion-row>
        </ion-grid>

        <div *ngIf="item.type=='input_toggle_group'">
            <ion-item>
                <ion-label>{{item.label}}</ion-label>
            </ion-item>
            <ion-list *ngFor="let opt of item.children;">
                <ion-item *ngIf="opt.type=='input_number'">
                    <ion-label fixed>{{opt.label}}</ion-label>
                    <ion-input type="number" [(ngModel)]="opt.value" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                </ion-item>
                <ion-item *ngIf="opt.type=='toggle'">
                    <ion-label>{{opt.label}}</ion-label>
                    <ion-toggle [(ngModel)]="opt.checked" checked="opt.checked"></ion-toggle>
                </ion-item>
            </ion-list>
        </div>

        <ion-list *ngIf="item.type=='checkbox'">
            <ion-item>
                <ion-label>{{item.label}}</ion-label>
            </ion-item>
            <ion-item *ngFor="let opt of item.children;">
                <ion-label>{{opt.label}}</ion-label>
                <ion-checkbox [(ngModel)]="opt.value" item-right checked="opt.checked" (click)="clickFunction($event,item.keyupFunction)"></ion-checkbox>
            </ion-item>
        </ion-list>

        <ion-grid *ngIf="item.type=='table'">
            <ion-label>{{item.label}}</ion-label>
            <ion-row *ngFor="let opt of item.children;" style="margin-left:0;margin-right:0" align-items-center>
                <ion-col col-3 align-self-center>
                    <ion-list>
                        <ion-item>
                            <ion-input *ngIf="opt.label=='OTROS'" placeholder={{item.placeholder_otros}} type="text" [(ngModel)]="opt.value" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                            <ion-label *ngIf="opt.label!='OTROS'">{{opt.label}}</ion-label>
                            <ion-checkbox *ngIf="opt.label!='OTROS'" [(ngModel)]="opt.value" item-right checked="opt.value" (click)="clickFunction($event,item.keyupFunction)"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col col-4 align-self-center>
                    <ion-item>
                        <ion-select okText="ACEPTAR" cancelText="CANCELAR" [(ngModel)]="opt.text1" placeholder={{item.placeholder}}>
                            <ion-option value="previo">PREVIO EMBARAZO</ion-option>
                            <ion-option value="durante">DURANTE EL EMBARAZO</ion-option>
                            <ion-option value="despues">POST-EMBARAZO</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col col-4 align-self-center>
                    <ion-textarea placeholder="OBSERVACIÓN" type="text" [(ngModel)]="opt.text2" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-textarea>
                </ion-col>
                <ion-col col-1 align-self-center>
                    <ion-toggle [(ngModel)]="opt.refiere" checked="true"></ion-toggle>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="item.type=='table_2'">
            <ion-label>{{item.label}}</ion-label>
            <ion-row *ngFor="let opt of item.children;" style="margin-left:0;margin-right:0" align-items-center>
                <ion-col col-3 align-self-center>
                    <ion-input *ngIf="opt.label=='OTROS'" placeholder={{item.input_placeholder}} type="text" [(ngModel)]="opt.value" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                    <ion-label *ngIf="opt.label!='OTROS'">{{opt.label}}</ion-label>
                </ion-col>
                <ion-col col-5 align-self-center>
                    <ion-textarea placeholder={{item.placeholder_1}} type="text" [(ngModel)]="opt.text1" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-textarea>
                </ion-col>
                <ion-col col-4 align-self-center>
                    <ion-textarea *ngIf="opt.label=='OTROS'" placeholder={{item.placeholder_2}} type="text" [(ngModel)]="opt.text2" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-textarea>
                    <ion-label *ngIf="opt.label!='OTROS'">{{opt.text2}}</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="item.type=='table_3'">
            <ion-label>{{item.label}}</ion-label>
            <ion-row *ngFor="let opt of item.options;" style="margin-left:0;margin-right:0" align-items-center>
                <ion-col align-self-center>
                    <ion-label>{{opt.text1}}</ion-label>
                </ion-col>
                <ion-col align-self-center>
                    <ion-item>
                        <ion-select okText={{item.selects[0].okText}} cancelText={{item.selects[0].cancelText}} [(ngModel)]="item.selects[0].value" placeholder={{item.selects[0].placeholder}}>
                            <ion-option *ngFor="let op of item.selects[0].children;" value={{op.value}}>{{op.label}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col align-self-center>
                    <ion-label>{{opt.text2}}</ion-label>
                </ion-col>
                <ion-col align-self-center>
                    <ion-item>
                        <ion-select okText={{item.selects[1].okText}} cancelText={{item.selects[1].cancelText}} [(ngModel)]="item.selects[1].value" placeholder={{item.selects[1].placeholder}}>
                            <ion-option *ngFor="let op of item.selects[0].children;" value={{op.value}}>{{op.label}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="item.type=='table_recordatorio'">
            <ion-label>{{item.label}}</ion-label>
            <ion-row *ngFor="let opt of item.children;" style="margin-left:0;margin-right:0" align-items-center>
                <ion-col col-3 align-self-center>
                    <ion-item>
                        <ion-label>{{item.placeholder_1}}</ion-label>
                        <ion-datetime cancelText="CANCELAR" doneText="SELECCIONAR" mode="md" displayFormat="HH:mm" [(ngModel)]="opt.text1"></ion-datetime>
                        <ion-icon item-end name="time"></ion-icon>
                    </ion-item>
                </ion-col>
                <ion-col col-3 align-self-center>
                    <ion-label>{{opt.label}}</ion-label>
                </ion-col>
                <ion-col col-6 align-self-center>
                    <ion-textarea placeholder={{item.placeholder_2}} type="text" [(ngModel)]="opt.text2" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-textarea>
                </ion-col>
                <ion-col col-6 align-self-center>
                    <ion-textarea placeholder={{item.placeholder_3}} type="text" [(ngModel)]="opt.text3" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-textarea>
                </ion-col>
                <ion-col col-3 align-self-center>
                    <ion-textarea placeholder={{item.placeholder_4}} type="text" [(ngModel)]="opt.text4" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-textarea>
                </ion-col>
                <ion-col col-3 align-self-center>
                    <ion-input type="number" placeholder={{item.placeholder_5}} [(ngModel)]="opt.text5" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="item.type=='table_4'">
            <ion-label>{{item.label}}</ion-label>
            <ion-row *ngFor="let opt of item.children;" style="margin-left:0;margin-right:0" align-items-center>
                <ion-col col-4 align-self-center>
                    <ion-label>{{opt.label}}</ion-label>
                </ion-col>
                <ion-col col-4 align-self-center>
                    <ion-item *ngIf="opt.label=='FECHA'">
                        <ion-datetime cancelText="CANCELAR" doneText="SELECCIONAR" mode="md" displayFormat="DD/MM/YYYY" [(ngModel)]="opt.text1"></ion-datetime>
                        <ion-icon item-end name="calendar"></ion-icon>
                    </ion-item>
                    <ion-item *ngIf="opt.label!='FECHA'">
                        <ion-input type="number" placeholder={{item.placeholder_1}} [(ngModel)]="opt.text1" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-4 align-self-center>
                    <ion-item *ngIf="opt.label=='FECHA'">
                        <ion-datetime cancelText="CANCELAR" doneText="SELECCIONAR" mode="md" displayFormat="DD/MM/YYYY" [(ngModel)]="opt.text2"></ion-datetime>
                        <ion-icon item-end name="calendar"></ion-icon>
                    </ion-item>
                    <ion-item *ngIf="opt.label!='FECHA'">
                        <ion-input type="number" placeholder={{item.placeholder_2}} [(ngModel)]="opt.text2" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-label>LA CLASIFICACIÓN DE VALORES SE REPRESENTA DE LA SIGUIENTE MANERA:\nDESNUTRICIÓN SEVERA: DS\nDESNUTRICIÓN MODERADA: DM\nDESNUTRICIÓN LEVE: DL\nNORMAL: N\nSOBREPESO: SP\nOBESIDAD: O</ion-label>
        </ion-grid>

        <ion-grid *ngIf="item.type=='table_5'">
            <ion-label>{{item.label}}</ion-label>
            <ion-row *ngFor="let opt of item.children;" style="margin-left:0;margin-right:0" align-items-center>
                <ion-col col-4 align-self-center>
                    <ion-label>{{opt.label}}</ion-label>
                </ion-col>
                <ion-col col-4 align-self-center>
                    <ion-item *ngIf="opt.label=='FECHA'">
                        <ion-datetime cancelText="CANCELAR" doneText="SELECCIONAR" mode="md" displayFormat="DD/MM/YYYY" [(ngModel)]="opt.text1"></ion-datetime>
                        <ion-icon item-end name="calendar"></ion-icon>
                    </ion-item>
                    <ion-item *ngIf="opt.label!='FECHA'">
                        <ion-input type="number" placeholder={{item.placeholder_1}} [(ngModel)]="opt.text1" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-4 align-self-center>
                    <ion-item *ngIf="opt.label=='FECHA'">
                        <ion-datetime cancelText="CANCELAR" doneText="SELECCIONAR" mode="md" displayFormat="DD/MM/YYYY" [(ngModel)]="opt.text2"></ion-datetime>
                        <ion-icon item-end name="calendar"></ion-icon>
                    </ion-item>
                    <ion-item *ngIf="opt.label!='FECHA'">
                        <ion-input type="number" placeholder={{item.placeholder_2}} [(ngModel)]="opt.text2" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-label>LA CLASIFICACIÓN DE VALORES SE REPRESENTA DE LA SIGUIENTE MANERA:\nDESNUTRICIÓN SEVERA: DS\nDESNUTRICIÓN MODERADA: DM\nDESNUTRICIÓN LEVE: DL\nNORMAL: N\nSOBREPESO: SP\nOBESIDAD: O</ion-label>
        </ion-grid>

        <ion-grid *ngIf="item.type=='table_6'">
            <ion-label>{{item.label}}</ion-label>
            <ion-row *ngFor="let opt of item.children;" style="margin-left:0;margin-right:0" align-items-center>
                <ion-col col-4 align-self-center>
                    <ion-item>
                        <ion-label>{{opt.label}}</ion-label>
                        <ion-checkbox [(ngModel)]="opt.value" item-right checked="opt.checked" (click)="clickFunction($event,item.keyupFunction)"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col col-3 align-self-center>
                    <ion-item>
                        <ion-input type="text" placeholder={{item.placeholder_1}} [(ngModel)]="opt.text1" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-5 align-self-center>
                   <ion-item>
                        <ion-textarea type="text" placeholder={{item.placeholder_2}} [(ngModel)]="opt.text2" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="item.type=='table_deposiciones'">
            <ion-label>{{item.label}}</ion-label>
            <ion-row style="margin-left:0;margin-right:0" align-items-center>
                <ion-col *ngFor="let sel of item.selects;" align-self-center>
                    <ion-item>
                        <ion-select okText={{sel.okText}} cancelText={{sel.cancelText}} [(ngModel)]="sel.value" placeholder={{sel.placeholder}}>
                            <ion-option *ngFor="let op of sel.children;" value={{op.value}}>{{op.label}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col *ngFor="let ch of item.children;" align-self-center>
                    <ion-item *ngIf="ch.type=='input_number'">
                        <ion-input type="number" placeholder={{ch.label}} [(ngModel)]="ch.value" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="ch.type=='input_text'">
                        <ion-input type="text" placeholder={{ch.label}} [(ngModel)]="ch.value" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="item.type=='table_anamnesis'">
            <ion-label>{{item.label}}</ion-label>
            <ion-row *ngFor="let opt of item.children;" style="margin-left:0;margin-right:0" align-items-center>
                <ion-col col-3 align-self-center>
                    <ion-item>
                        <ion-label>{{opt.label}}</ion-label>
                        <ion-checkbox [(ngModel)]="opt.value" item-right checked="opt.checked" (click)="clickFunction($event,item.keyupFunction)"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col col-2 align-self-center>
                    <ion-item>
                        <ion-input type="number" placeholder={{item.placeholder_1}} [(ngModel)]="opt.text1" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2 *ngIf="opt.label!='ALIMENTOS'" align-self-center>
                    <ion-item>
                        <ion-input type="text" placeholder={{item.placeholder_2}} [(ngModel)]="opt.text2" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2 *ngIf="opt.label!='ALIMENTOS'" align-self-center>
                    <ion-item>
                        <ion-input type="number" placeholder={{item.placeholder_3}} [(ngModel)]="opt.text3" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-3 *ngIf="opt.label!='ALIMENTOS'" align-self-center>
                    <ion-item>
                        <ion-input type="text" placeholder={{item.placeholder_4}} [(ngModel)]="opt.text4" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-12 *ngIf="opt.label=='ALIMENTOS'">
                    <ion-label>{{opt.label2}}</ion-label>
                    <ion-row *ngFor="let al of opt.children;" align-self-center>
                        <ion-col col-12 *ngIf="al.label=='AGUA'" align-self-center>
                            <ion-item>
                                <ion-label>{{al.label}}</ion-label>
                                <ion-checkbox [(ngModel)]="al.value" item-right checked="al.checked" (click)="clickFunction($event,item.keyupFunction)"></ion-checkbox>
                            </ion-item>
                        </ion-col>
                        <ion-col col-6 *ngIf="al.label=='BEBIDAS'" align-self-center>
                            <ion-item>
                                <ion-label>{{al.label}}</ion-label>
                                <ion-checkbox [(ngModel)]="al.value" item-right checked="al.checked" (click)="clickFunction($event,item.keyupFunction)"></ion-checkbox>
                            </ion-item>
                        </ion-col>
                        <ion-col col-6 *ngIf="al.label=='BEBIDAS'" align-self-center>
                            <ion-item>
                                <ion-input type="text" placeholder={{al.placeholder}} [(ngModel)]="al.value" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col col-12 *ngIf="al.label=='OTROS'" align-self-center>
                            <ion-item>
                                <ion-input type="text" placeholder={{al.placeholder}} [(ngModel)]="al.value" (keyup)="keyupFunction($event,item.keyupFunction)"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
</ion-content>
