page-form {
	ion-icon {
		pointer-events: none;
	}
    ion-select {
        max-width: 100% !important;
        max-height: 100% !important;
        //background: $color('secundary');
        .select-text,.select-icon-inner {
            text-align: right;
        	color:#f4f4f4!important;
        }
    }
    .back-button {
        margin:0px!important;
        padding:0px!important;
    }
    .aviso {
        animation:animationPageEnter 1.2s;
    }
    @keyframes animationPageEnter {
        0%   {max-height:0px;opacity:0.5}
        100% {max-height:300px;opacity:1}
    }
    ion-grid {
        grid-padding-width: 15px;
    }
    .col {
        border: think solid gray;
    }
    .invalid_label {
        color: #f53d3d !important;
    }
    .invalid_input {
        border: 1px solid #f53d3d;
    }
    .invalid_datepicker {
        color: #f53d3d !important;
    }
    .error_message {
        display: block !important;
        color: #f53d3d !important;
        font-size: 16px;
    }
    ion-item ion-label, ion-list-header ion-label, ion-grid ion-label, ion-input, ion-datetime {
        font-size: 16px !important;
        color: black !important;
    }
    .pregunta {
        font-weight: bold !important;
    }
    ion-textarea {
        font-size: 16px !important;
        color: black !important;
    }
    ion-select {
        color: #999 !important;
    }
    ion-grid > ion-label {
        padding-left: 35px !important;
    }
}
