{% extends "base.html" %}
{% load static %}
{% block titulo %}INSAVIT{% endblock %}
{% block extraStyle %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/templates.css' %}">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
{% endblock %}
{% block content %}
<div id="done_forms">
  <h3>Plantillas creadas</h3>
  <div class="add-template">
    <a class="button default" href="{% url 'create-template-view' %}">Agregar plantilla</a>
  </div>
  <div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Tipo</th>
            <th>Nombre del conjunto de datos</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for template in templates %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ template.name }}</td>
            <td>{{ template.quantity }}</td>
            <td>{{ template.type.name }}</td>
            <td>{{ template.set_name }}</td>
            <td><a href="{% url 'view-template' template.uid %}">Ver</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <hr>
</div>
{% endblock %}
