<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Formularios
        </ion-title>
        <ion-buttons end>
            <button *ngIf="!enviandoFormularios" [disabled]="formulariosPendientes.length==0" ion-button icon-end (click)="clickEnviarFormularios()">
                Enviar
                <ion-icon name="ios-send"></ion-icon>
            </button>
            <button [disabled]="true" *ngIf="enviandoFormularios" ion-button icon-end>
                Enviando
                <ion-spinner item-end name="dots" color="light"></ion-spinner>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div *ngIf="comprobandoPendientes">
        <ion-spinner item-end name="bubbles" color="menuItemNote"></ion-spinner>
    </div>
    <div *ngIf="!comprobandoPendientes">
        <div *ngIf="formulariosPendientes.length==0" text-center>
            <h2>No hay formularios pendientes</h2>
        </div>
        <div *ngIf="formulariosPendientes.length!=0">
            <ion-card margin-bottom *ngFor="let item of formulariosPendientes;let i = index">
                <ion-item text-wrap data-toggle="collapse" [attr.href]="'#collapse'+i" aria-expanded="false">
                    <ion-avatar item-start>
                        <img src="assets/imgs/formulario4.png">
                    </ion-avatar>
                    <h3>{{item.name}}</h3>
                    <p style="color: #488aff"> Código: {{item.code}}</p>
                    <ion-icon *ngIf="item.errores>0 || item.vacios>0" item-end color="navbar3" small name="warning" margin-right></ion-icon>
                    <ion-icon item-end ios="ios-more" md="md-more"></ion-icon>
                </ion-item>
                <div class="collapse" id="collapse{{i}}">
                    <div class="container">
                        <div padding-left padding-right class="row">
                            <div class="col-12">
                                <ion-label no-margin margin-bottom text-wrap><strong class="strongLabel">Creacion:</strong> {{item.createdDate | date:'yyyy/MM/dd HH:mm:ss'}} </ion-label>
                                <ion-label no-margin margin-bottom text-wrap><strong class="strongLabel">Guardado:</strong> {{item.saveDate |  date:'yyyy/MM/dd HH:mm:ss'}}</ion-label>
                                <ion-label no-margin margin-bottom text-wrap><strong class="strongLabel">Tipo:</strong> {{item.type}}</ion-label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <ion-label class="empty_number" no-margin margin-bottom text-wrap [class.strongLabelError]="item.vacios>0"><strong [class.strongLabel]="!item.vacios>0">Vacios: </strong> {{item.vacios }}</ion-label>
                                <button [disabled]="enviandoFormularios" ion-button block icon-start clear small (click)="clickEditarFormulario(item)">
                                    <ion-icon name="create"></ion-icon>
                                    <div>Editar</div>
                                </button>
                            </div>
                            <div class="col-6">
                                <ion-label class="bugs_number" no-margin margin-bottom text-wrap [class.strongLabelError]="item.errores>0"><strong [class.strongLabel]="!item.errores>0">Errores:</strong> {{item.errores }}</ion-label>
                                <button [disabled]="enviandoFormularios" ion-button block icon-start clear small (click)="clickEliminarFormulario(item)">
                                    <ion-icon name="trash"></ion-icon>
                                    <div>Eliminar</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-card>
        </div>
    </div>
</ion-content>
