<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Principal
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>



  <div padding>
  <img  src="./assets/imgs/libreta4.png">
</div>


<div padding >

	<!--<p><em>Selecciona la fecha de la libreta a crear o editar:</em></p>-->
	<ion-item color="verdeBotonLibreta" style="border-radius: 5px">
	  <ion-label color="light"> Fecha :</ion-label>
	  <ion-datetime cancelText="cancelar" doneText="seleccionar"  displayFormat="DD/MMMM/YYYY" [min]="fechaMinima" [max]="fechaMaxima" monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre" [(ngModel)]="fechaLibreta" (ionChange)="changeDate(fechaLibreta)" ></ion-datetime>
	  <ion-icon item-end name="calendar"></ion-icon>
	</ion-item>

  <ion-item margin-top color="verdeBotonLibreta" >
        <ion-label color="light">Seccion :</ion-label>
        <ion-select  placeholder="Selecciona" (ionChange)="changeSelect()" [(ngModel)]="formUserData">
          <ion-option value="Libreta Principal">Libreta Principal</ion-option>
          <ion-option value="Otro">Otro</ion-option>
        </ion-select>
    </ion-item>

    <ion-list margin-top  radio-group [(ngModel)]="relationship">
      <ion-item color="verdeBotonLibreta">
        <ion-label>Ubicacion</ion-label>
        <ion-icon item-end name="ios-pin-outline"></ion-icon>
      </ion-item>
      <ion-item color="light">
        <ion-label>Usar GPS</ion-label>
        <ion-radio value="friends" ></ion-radio>
      </ion-item>
      <ion-item color="light">
        <ion-label>No Usar GPS</ion-label>
        <ion-radio value="family"></ion-radio>
      </ion-item>
    </ion-list>
</div>

<button *ngIf="creacionLibreta==false && edicionLibreta==false" [disabled]="creacionLibreta==false && edicionLibreta==false" ion-button block color="navbar">
  {{messageButton}}
</button>
<button *ngIf="creacionLibreta" ion-button block color="navbar" (click)="crearLibreta()"> {{messageButton}} </button>
<button *ngIf="edicionLibreta" ion-button block color="navbar" (click)="editarLibreta()"> {{messageButton}} </button>

<ion-spinner item-start name="dots" *ngIf="comprobandoLibreta" color="navbar"></ion-spinner>

<!--
<input type="date" class="form-control" name="">
<div class="input-group input-group-lg">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-lg"><i class="far fa-calendar-alt"></i></span>
  </div>
  <input type="time" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="date2">
</div>
-->
<!--
  <button ion-button (click)="clickGrid()">ir a Grid</button>
-->
</ion-content>
