<ion-header>
    <ion-navbar color='navbar'>
        <ion-title text-center>
            Iniciar Sesión
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div padding text-center>
        <br>
        <br>
        <img src="./assets/imgs/logo_auth.png">
        <br>
        <br>
        <ion-item margin-top color="light" *ngIf="!linkedUser" class="linked-user">
            <ion-label color="dark" fixed>
                <ion-icon color="dark" name="person"></ion-icon>
            </ion-label>
            <ion-input type="text" placeholder="Usuario" [(ngModel)]="user.username" name="username"></ion-input>
        </ion-item>
        <button ion-item color="light" margin-top *ngIf="linkedUser">
            <ion-icon color="navbar" name="person" item-start></ion-icon>
            <ion-label color="navbar" margin-left item-start></ion-label>
            <ion-note item-end color="menuItemSelected"></ion-note>
        </button>
        <ion-item margin-top color="light" class="linked-user">
            <ion-label color="dark" fixed>
                <ion-icon color="dark" name="key" md="md-key"></ion-icon>
            </ion-label>
            <ion-input type="password" placeholder="Clave" [(ngModel)]="user.password" name="password"></ion-input>
        </ion-item>
    </div>
    <button class="btn-login" color="button" [disabled]="!user.username || !user.password" ion-button block (click)="attemptAuth()">Ingresar</button>
</ion-content>